@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#080810] text-white;
  font-family: 'Inter', sans-serif;
}

.glow {
  box-shadow: 0 0 30px rgba(168, 85, 247, 0.4);
}

img {
  transition: transform 0.5s ease;
}

.group:hover img {
  transform: scale(1.05);
}
